# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd
secrets.txt

# Secret key settings
*.secret_key

# Static files directory (collectstatic)
/static/

# Virtual environment
venv/
.env

# IDE specific files
.idea/
.vscode/

# Log files
*.log
