{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "partials/head.html" %}

<body>
    <div class="Main container mt-4">
        {% block main %}
        {% endblock %}
    </div>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {% block script %}
    {% endblock %}
</body>

</html>