{% extends "partials/shared.html" %}
{% load custom %}
{% block main %}
<div>
    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
            <h1 class="text-body-emphasis">Personality Test</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted">
                This test is aimed at testing your soft skills. Ensure that you answer all
                questions
            </p>
            <div class="d-inline-flex gap-2 mb-5">
                <button class="d-inline-flex align-items-center btn btn-success btn-lg px-4 rounded-pill" type="button"
                    id="submitResponses">
                    Submit Attempt
                </button>
                <button class="d-inline-flex align-items-center btn btn-secondary btn-lg px-4 rounded-pill"
                    id="saveResponses" type="button">
                    Save Responses
                </button>
            </div>
        </div>
    </div>

    <form action="{% url 'personality_test' job_id %}" method="post">
        {% csrf_token %}
        {% for question in questions %}
        <label for="question_{{ question.pk }}">{{ question.question }}</label><br>
        <div class="range-slider">
            <label for="question_{{ question.pk }}" class="range-form-label badge text-bg-light"
                style="font-family: Poppins;"></label><br>
            {% if question.pk in completed_attempts %}
            <input type="range" class="form-range" min="1" max="5" step="1" id="question_{{ question.pk }}"
                name="{{ question.pk }}" value="{{ completed_attempts|lookup:question.pk }}">
            {% else %}
            <input type="range" class="form-range" min="1" max="5" step="1" id="question_{{ question.pk }}"
                name="{{ question.pk }}" value="3">
            {% endif %}
        </div>
        {% endfor %}
        <input type="hidden" name="completed" id="formCompleted" value="True">
    </form>
</div>
{% endblock %}