{% extends "partials/shared.html" %}
{% block main %}
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5 mt-5" tabindex="-1" role="dialog"
  id="modalTour">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-5">
        <h2 class="fw-bold mb-0">Submitted Successfully</h2>
        We will review your answers and get back to you. 👍👍👍
        <button type="button" class="btn btn-lg btn-success mt-5 w-100" data-bs-dismiss="modal" id="successButton"
          onclick="redirectToJobs()">Great, thanks!</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}